STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2


OAUTH_ACCESS_TOKEN_LIFETIME=7200        # 2 hours (seconds)
OAUTH_REFRESH_TOKEN_LIFETIME=1209600    # 14 days (seconds)
OAUTH_AUTHORIZATION_CODE_LIFETIME=600   # 10 minutes (seconds)